<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banner.mapper.FollowRelationMapper">

    <select id="getOtherId" resultType="java.lang.Long">
        SELECT b.obj_id
        FROM follow_relation a,
             follow_relation b
        WHERE a.user_id = b.obj_id
          AND a.obj_id = b.user_id
          AND b.user_id = #{myId}
    </select>

    <select id="getFollowByUserId" resultType="com.banner.dto.FollowUserDto">
        SELECT a.obj_id id,
               a.address,
               a.create_time,
               u.user_name,
               u.avatar
        FROM follow_relation a,
             user_info u
        WHERE a.user_id = #{userId}
          AND a.obj_id = u.user_id
    </select>

    <select id="getFanByUserId" resultType="com.banner.dto.FollowUserDto">
        SELECT a.obj_id id,
               a.address,
               a.create_time,
               u.user_name,
               u.avatar
        FROM follow_relation a,
             user_info u
        WHERE a.obj_id = #{userId}
          AND a.user_id = u.user_id
    </select>

</mapper>