<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banner.mapper.ProfessionMapper">

    <select id="getProfessionByName" resultType="com.banner.dto.ProfessionSimpleDto">
        SELECT p.*,
               c.profession_categories_name,
               c.description category_description,
               c.flag
        FROM profession p,
             profession_categories c
        WHERE p.profession_name LIKE #{professionName}
          AND p.category_id = c.id

    </select>

    <select id="getProfessionByCategoryId" resultType="com.banner.dto.ProfessionSimpleDto">
        SELECT p.*,
               c.profession_categories_name,
               c.description category_description,
               c.flag
        FROM profession p,
             profession_categories c
        WHERE p.category_id = #{categoryId}
          AND p.category_id = c.id
    </select>

    <select id="getProfessionParentWithInstitutionId" resultType="com.banner.po.ProfessionCategories">
        SELECT c.*
        FROM profession_categories c,
             profession_category_institution i
        WHERE i.institution_id = #{institutionId}
          AND c.flag = #{flag}
          AND i.category_id = c.id
    </select>

    <select id="getProfessionPageWithName" resultType="com.banner.dto.ProfessionSimpleDto">
        SELECT p.*,
               c.profession_categories_name,
               c.description category_description,
               c.flag
        FROM profession p,
             profession_categories c
        WHERE p.profession_name LIKE #{professionName}
          AND p.category_id = c.id
            LIMIT #{page}
            , #{pageSize}

    </select>

    <select id="getProfessionPage" resultType="com.banner.dto.ProfessionSimpleDto">
        SELECT p.*,
               c.profession_categories_name,
               c.description category_description,
               c.flag
        FROM profession p,
             profession_categories c
        WHERE p.category_id = c.id
            LIMIT #{page}
            , #{pageSize}
    </select>

    <select id="getProfessionRelation" resultType="com.banner.dto.ProfessionRelationDto">
        SELECT r.*,
               i.institution_name
        FROM profession_institution_relation r,
             institution i
        WHERE r.profession_id = #{professionId}
          AND r.institution_id = i.id
    </select>

    <select id="isHaveCategoryAndInstitution" resultType="integer">
        SELECT COUNT(r.institution_id)
        FROM profession_category_institution r
        WHERE r.category_id = #{categoryId}
          AND r.institution_id = #{institutionId}
    </select>

    <select id="isHaveProfessionAndInstitution" resultType="integer">
        SELECT COUNT(r.institution_id)
        FROM profession_institution_relation r
        WHERE r.profession_id = #{professionId}
          AND r.institution_id = #{institutionId}
    </select>

</mapper>