<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banner.mapper.UserInfoMapper">


    <select id="getUserInfo" resultType="com.banner.dto.UserInfoDto">
        SELECT
            u.user_name,
            u.tel,
            u.avatar,
            u.signature,
            u.school,
            u.profession,
            u.grade,
            u.sex,
            u.age,
            i.institution_name,
            i.institution_url
        FROM
            user_info u,
            institution i
        WHERE
            u.goal_id = i.id
          AND u.user_id = #{userId}
    </select>
</mapper>
